// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #010204;
$grey-color: #7b7e88;
$white-color: #ffffff;
$yellow-color: #f5ff26;

// font body
$font-body: "Lato", sans-serif;

// font weight
$font-reguler: 400;
$font-bold: 700;
$font-extrabold: 800;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 100%;
$leading-text: 160%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: $header-height;
  font-family: $font-body;
  font-weight: $font-reguler;
  background-color: $black-color;
  color: $white-color;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-bold;
  outline: none;
  border: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-subtitle {
    font-size: 16px;
    font-weight: $font-bold;
    color: $grey-color;
    text-transform: uppercase;
    line-height: $leading-text;
    margin-bottom: $margin-1;
  }

  &-title {
    font-size: 48px;
    font-weight: $font-bold;
    color: $white-color;
    line-height: $leading-title;
  }

  &-text {
    font-size: 16px;
    color: $grey-color;
    line-height: $leading-text;
  }
}

.button {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: $yellow-color;
  font-size: 16px;
  font-weight: $font-bold;
  color: $black-color;
  text-transform: uppercase;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.grid {
  display: grid;

  &-gap {
    gap: 4rem;
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 120px;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: #16191f;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    position: relative;
    font-size: 16px;
    color: $white-color;

    &::after {
      position: absolute;
      content: "";
      top: 1.5rem;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $yellow-color;
      border-radius: 10rem;
      transition: $transition-400;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__button {
    margin-top: 1.5rem;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $white-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding-bottom: 4rem;

  &__wrapper {
    position: relative;
    height: calc(80vh - $header-height);
    display: grid;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: 80%;
  }

  &__container {
    position: relative;
    height: 100%;
    display: grid;
    align-content: center;
  }

  &__title {
    margin-bottom: $margin-2;
  }

  &__buttons {
    display: grid;
    gap: 1rem;

    &-preorder {
      display: inline-flex;
      justify-self: flex-start;
    }

    &-book {
      display: inline-flex;
      justify-self: flex-start;
      align-items: center;
      gap: 1rem;
      font-size: 16px;
      font-weight: $font-bold;
      color: $grey-color;
      text-transform: uppercase;
    }

    &-arrow {
      width: 56px;
      height: 56px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: transparent;
      border: 1.5px solid rgba($color: #7b7e88, $alpha: 0.5);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $yellow-color;
    }
  }
}

// ===== ABOUT SECTION =====
.about {
  position: relative;
  display: grid;
  gap: 4rem;

  &__container {
    justify-self: center;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: $margin-2;

    &-yellow {
      color: $yellow-color;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
  }

  &__content {
    height: 250px;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: $transition-400;
    }

    &:hover .about__content-img {
      transform: scale(1.1);
    }
  }
}

// ===== VIDEO SECTION =====
.video {
  padding-top: 8rem;

  &__wrapper {
    position: relative;
    height: 70vh;
    display: grid;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: 80%;
  }

  &__container {
    position: relative;
    height: 100%;
    display: grid;
    justify-self: center;
  }

  &__data {
    margin-top: 4rem;
    text-align: center;
  }

  &__title {
    margin-bottom: $margin-2;
  }

  &__button-play {
    width: 72px;
    cursor: pointer;
  }
}

// ===== FEATURES SECTION =====
.features {
  padding-bottom: 4rem;

  &__group {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
  }

  &__content {
    padding: 3rem;
    background-color: #16191f;
    transition: $transition-400;

    &:hover {
      background-color: $yellow-color;

      & .features__content-number,
      & .features__content-title,
      & .features__content-text {
        color: $black-color;
      }
    }

    &-number {
      font-size: 20px;
      font-weight: $font-bold;
      color: $yellow-color;
      margin-bottom: 0.5rem;
      transition: $transition-400;
    }

    &-title {
      font-size: 24px;
      font-weight: $font-bold;
      color: $white-color;
      margin-bottom: $margin-1;
      transition: $transition-400;
    }

    &-text {
      font-size: 16px;
      color: $grey-color;
      line-height: $leading-text;
      transition: $transition-400;
    }
  }
}

// ===== PRODUCTS SECTION =====
.products {
  &__container {
    display: grid;
    gap: 4rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    gap: 2rem;

    &:hover {
      & .products__content-img {
        transform: scale(1.1);
      }
    }

    &-wrapper {
      height: 255px;
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: $transition-400;
    }

    &-title {
      font-size: 24px;
      font-weight: $font-bold;
      color: $white-color;
      margin-bottom: $margin-0-5;
    }

    &-price {
      font-size: 20px;
      color: $yellow-color;
    }
  }
}

// ===== FAQ SECTION =====
.faq {
  &__container {
    display: grid;
    gap: 4rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__accordion {
    display: grid;

    &-item {
      background-color: transparent;
      border-bottom: 1.5px solid rgba($color: #7b7e88, $alpha: 0.5);
      transition: $transition-400;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding: 2rem 0;
      cursor: pointer;
    }

    &-data {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    &-number {
      font-size: 32px;
      font-weight: $font-bold;
      color: $grey-color;
      transition: $transition-400;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $grey-color;
      transition: $transition-400;
    }

    &-icon {
      display: inline-flex;
      font-size: 2rem;
      color: $yellow-color;
      transition: $transition-400;
    }

    &-content {
      overflow: hidden;
      height: 0;
      transition: $transition-400;
    }

    &-text {
      font-size: 16px;
      color: $grey-color;
      line-height: $leading-text;
      padding: 0 0 2rem 3rem;
    }
  }

  // accordion open
  .accordion-open {
    & .faq__accordion-icon {
      transform: rotate(90deg);
      color: $yellow-color;
    }

    & .faq__accordion-number {
      color: $yellow-color;
    }

    & .faq__accordion-title {
      color: $white-color;
    }
  }
}

// ===== DISCOVER SECTION =====
.discover {
  &__container {
    display: grid;
    gap: 4rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__content {
    display: grid;
    gap: 3rem;

    &-data,
    &-img {
      justify-self: center;
    }

    &-text {
      font-size: 20px;
      font-weight: $font-bold;
      color: $grey-color;
      line-height: $leading-text;
      margin-bottom: $margin-1-5;
    }

    &-button {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      font-size: 16px;
      font-weight: $font-bold;
      color: $white-color;
      line-height: $leading-text;
      text-transform: uppercase;
    }

    &-icon {
      width: 56px;
      height: 56px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: transparent;
      border: 1.5px solid rgba($color: #7b7e88, $alpha: 0.5);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $yellow-color;
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 8rem 0 2rem;

  &__container {
    display: grid;
    gap: 6rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  &__logo-icon {
    width: 120px;
  }

  &__content {
    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $white-color;
      text-transform: uppercase;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 16px;
      color: $grey-color;
      line-height: $leading-text;
    }

    &-list {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-sosmed {
      width: 45px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      background-color: transparent;
      border: 1.5px solid rgba($color: #7b7e88, $alpha: 0.5);
      border-radius: 50%;
      transition: $transition-400;

      &:hover {
        background-color: $yellow-color;
        border-color: $yellow-color;

        & .footer__content-icon {
          color: $black-color;
        }
      }
    }

    &-icon {
      display: inline-flex;
      font-size: 1.5rem;
      color: $white-color;
      transition: $transition-400;
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding-top: 2rem;
    border-top: 1.5px solid rgba($color: #7b7e88, $alpha: 0.5);

    &-rights {
      font-size: 16px;
      font-weight: $font-bold;
      line-height: $leading-text;
      color: $white-color;
    }

    &-list {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    &-link {
      font-size: 16px;
      color: $grey-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ===== MEDIA QUERIES ======
// width 480px
@media screen and (min-width: 480px) {
  .about__container,
  .products__data,
  .faq__data,
  .discover__data,
  .discover__content-data {
    width: 400px;
  }

  .products__group,
  .features__group {
    grid-template-columns: 0.9fr;
  }

  .discover__content-img {
    width: 400px;
  }
}

// width 640px
@media screen and (min-width: 640px) {
  .section-title {
    font-size: 56px;
  }

  .about__container,
  .products__data,
  .faq__data,
  .discover__data,
  .discover__content-data {
    width: 500px;
  }

  .about__text {
    width: 400px;
    margin: 0 auto;
  }

  .products__content-wrapper {
    height: 350px;
  }

  .discover__content-img {
    width: 500px;
  }
}

// width 767px
@media screen and (min-width: 767px) {
  .header {
    &__menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &__list {
      flex-direction: row;
    }

    &__button {
      margin-top: 0;
    }

    &__toggle {
      display: none;
    }
  }
}

// width 968px
@media screen and (min-width: 968px) {
  .section-title {
    font-size: 72px;
  }

  .header {
    &__container {
      position: relative;
    }

    &__list {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 2rem;
    }
  }

  .home__buttons {
    grid-template-columns: repeat(2, max-content);
    align-items: center;
  }

  .about__container,
  .products__data,
  .discover__data {
    width: 650px;
  }

  .video__data {
    margin-top: 6rem;
  }

  .features__group,
  .products__group {
    grid-template-columns: repeat(2, 1fr);
  }

  .faq__accordion {
    width: 800px;
    justify-self: center;

    &-data {
      gap: 5rem;
    }

    &-text {
      width: 500px;
      padding-left: 7rem;
    }
  }

  .discover__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &-data,
    &-img {
      width: auto;
      justify-self: flex-start;
    }

    &-text {
      width: 400px;
    }
  }
}
